<!DOCTYPE html>
<html>

  <head>
    <style>
      body{
        width:1360px;
        height:800px;
        
        background-image:url("http://manimani-korea.net/wp-content/uploads/2017/09/IMG_9078.jpg");
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
      }
      div1{
        width:40px;
        height:30px;
        
        background-color:white;
        left:30px;
        right:50px;
        top:30px;
      }
       div2{
        width:400px;
        height:300px;
        
        background-color:white;
        left:30px;
        right:50px;
        top:30px;
      }
    </style>
  </head>
  
     
    <body>
      <div2>
      <h1 style="position: absolute; left:50px;">
        <strong>로또 당첨번호와 랜덤번호가 맞을까요?</strong>
      </h1>
      </div2>
      <div1>
       <a style="position: absolute; top:80px; left:200px;" type="button" href='/home/show/' class="btn btn-warning">랜덤번호랑 맞춰보기</a>
       </div1>
       
       
    </body>
    </html>